.th {
  font-size: $p-md;
  font-weight: $regular;
  color: $textSecondary;
  vertical-align: middle;
  text-align: start;
  padding: 0;
  text-align: -webkit-left;

  &_inOut {
    max-width: 54px;
  }

  &_date {
    max-width: 88px;
  }
  &_personAvatar {
    max-width: 129px;
  }
  &_toNumber {
    max-width: 325px;
  }
  &_source {
    max-width: 214px;
  }
  &_grade {
    max-width: 198px;
  }
  &_record {

  }
  &_time {
    text-align: -webkit-right;
  }


}
