$backgroundColor: #F1F4F9;
$backgroundTable: #FFFFFF;
$borderTable:  #EAF0FA;

$borderHover: rgba($color:#D4DFF32B, $alpha: .17);


$textPrimary: #122945;
$textSecondary: #5E7793;

$accent: #ADBFDF;
$accent-light: #D8E4FB;

$red: #EA1A4F;
$red-light: #FEE9EF;

$green: #28A879;
$green-text: #00A775;
$green-light: #DBF8EF;

$blue: #002CFB;
