.typeWrapper {
  width: 24px;
  height: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.typeIcon {

  &__type {
    &_in {
      fill: $green;
      transform: rotate(180deg);
    }

    &_out {
      fill: $blue;
    }
  }

  &__status {
    &_fail {
      fill: $red;
    }
  }


}
